{% extends 'base.html.twig' %} {% block title %}Event{% endblock %} {% block body %}

<div class="container">
    <h1 class="text-center">Hard Facts</h1>
    <div class="card" style="width: 50%" ;>
        <img src="{{event.picture}}" class="card-img-top" alt="{{ event.name }}">
        <div class="card-body">
            <p class="card-text">ID: {{ event.id }}</p>
            <p class="card-text">Event: {{ event.name }}</p>
            <p class="card-text">Description: {{ event.description }}</p>
            <p class="card-text">When? {{ event.eventDate ? event.eventDate|date('Y-m-d H:i:s') : '' }}</p>
            <p class="card-text">{{ event.location }}</p>
            <p class="card-text">Capacity: {{ event.capacity }}</p>
            <p class="card-text"><i class="bi bi-envelope-at"> {{ event.mail }} </i></p>
            <p class="card-text"><i class="bi bi-telephone"> {{ event.phone }}</i></p>
            <p class="card-text"><i class="bi bi-house-fill"> {{ event.eventUrl }}</i></p>
            <a class="btn btn-dark" href="{{ path('app_event_index') }}">Back to Home</a>
        </div>
    </div>
    {% endblock %}